<h1 class="text-center my-3">My Instagram</h1>
<section class="d-flex justify-content-center">
<form name='addpictureform' class="d-flex flex-column align-items-center" action ="/photoalbum" method="POST">
  <div class="mb-3">
    <input name="description" placeholder="Описание картинки" type="text" class="form-control" id="exampleInputEmail1">
  </div>
    <div class="mb-3">
    <input name="link" placeholder="Ссылка на картинку" type="text" class="form-control" id="exampleInputEmail1">
  </div>
  <button data-submit type="submit" class="btn btn-primary">Отправить</button>
</form>
</section>
<hr/>
<section data-pictures class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 justify-content-center" style="gap: 30px">
    {{#each listOfPictures}}
        <div data-id="{{this.id}}" data-pictureid="{{this.pictureId}}" class="card my-2" style="width: 18rem;">
            <img src={{this.link}} class="card-img-top">
            <div class="card-body">
                <p class="card-text">{{this.description}}</p>
            </div>
            <button data-action="delete" type="button" class="btn btn-danger my-2">Удалить</button>
        </div>
    {{/each}}
</section>
<script src="js/deletePicture.js"></script>